.body{
    background-color:#E9ECEF;
}
body{
    background-color: #E9ECEF;
}
.center{
    text-align: center;
}
.menu{
    list-style: none;
    background-color: #313131;
    height: 50px;
    padding: 5px;
}

.menu li{
    display: inline;
    margin: 10px;
}

h1{
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    font-family: sans-serif
}

.color-red{
    color: red;
}

h3{
    margin-left: 20px;
    color: rgb(204, 162, 25);
}

.tac{
    text-align: center;
    list-style: inside;
    font-family: sans-serif;
}

.btn{
    font-size: 18px;
    line-height: 1.2!important;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
    letter-spacing: 0em;
    border-radius: 60px;
    padding: 1em 2em;
    background: #0188f7;
    border-color: transparent;
    color: var(--color-content-bg)!important;
    box-shadow: 0px 3px 30px 0px #999999;
}
    
h2{
    color:purple;
    font-family: sans-serif;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}

.yazi{
    margin-left: 20px;
    font-size: 20px;
}

.btn{
    margin-left: 0;
    font-size: medium;
}

